
html
{
  position: relative;
  height: 100%;
  width: 100%;
}
body {
  overflow-x: hidden;
  background: white;
  -webkit-overflow-scrolling: touch;
  font-size:14px;
  font-family:'Microsoft YaHei';
}


